.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 30px;
    background-color: var(--light-gray);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.imageWrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(241, 237, 237, 0.2);
}

.image {
    border-radius: 8px;
}

.galleryContainer :nth-child(1) .imageWrapper {
    border: 2px solid #57a3e7;
    box-shadow: 0 0 10px #57a3e7;
}
.galleryContainer :nth-child(5) .imageWrapper {
    border: 2px solid #57a3e7;
    box-shadow: 0 0 10px #57a3e7;
}
.galleryContainer :nth-child(8) .imageWrapper {
    border: 2px solid #57a3e7;
    box-shadow: 0 0 10px #57a3e7;
}
.galleryContainer :nth-child(4) .imageWrapper {
    grid-row: span 2;
    padding-bottom: 200%;
}
.galleryContainer :nth-child(6) .imageWrapper {
    grid-row: span 2;
    padding-bottom: 200%;
}
